<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Board Games</title>
    <style>
      button {
        background-color: #f44336;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        float: right;
      }
    </style>
  </head>
  <header>
    <form action="/logout" method="get">
      <button type="submit" name="logout">Log Out</button>
    </form>
  </header>
  <body>

    <% if @user_games.empty? %>
        <p>You do not have any games in your collection, click below to add one.</p>
    <% end %>
    <ol>
      <% @user_games.each do |game| %>
         <li><a href="/games/<%= game.id %>"><%= game.name %></a> <br>
         <%= game.game_type %> <br></li>
         <br>
       <% end %>
    </ol>

    <a href="/games/new"><h4>Add New Game</h4></a>
  </body>
</html>
